@import url('https://fonts.googleapis.com/css?family=Space+Mono:400|Mulish:400|UnifrakturMaguntia:400');

:root {
  /*Light mode pallette*/

  --white: #fefefe;
  --lightGrey: #bfbfbf;
  --grey: #404040;
  --darkGrey: #2b2b2b;
  --black: #141414;
	--darkRed: #800000;
	--red: #ff0000;

  /*Light Mode Intentions*/
  --linkUnderline: var(--blue);
  --background: var(--white);
  --textColor: var(--darkGrey);
  --lineColor: var(--grey);
  --headerText: var(--black);
  --cardBg: var(--lightGrey);
  --cardText: var(--black);
	--anchorColor: var(--darkRed);
	--buttonColor: var(--darkGrey);
	--buttonText: var(--white);
	--buttonHoverText: var(--red);
	--navColor: var(--lightGrey);
	--linkHover: var(--black);
	--modalText: var(--black);
	--modalColor: var(--lightGrey);
	--bbeg-color: #993114;
	--hench-color: #143199;
	--lackey-color: #5B9914;

  /*Styles*/
  --line: solid 2px var(--lineColor);
  --headerHeight: 5rem;
  --containerPadding: 10%;
	--formWidth: 30rem;

  /*Elevations*/
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --cardShadow: 0 2px 18px rgb(34 34 34 / 20%);
  --cardTransition: box-shadow 200ms;

  /* Fonts */
  --headingFont: 'Archivo', sans-serif;
  --bodyFont: 'Roboto', sans-serif;
  --quoteFont: 'UnifrakturMaguntia', cursive;
  --baseFontSize: 100%;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
 --smallText: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
		/* dark mode intentions */
  --linkUnderline: var(--blue);
  --background: var(--black);
  --textColor: var(--white);
  --lineColor: var(--grey);
  --headerText: var(--white);
  --cardBg: var(--darkGrey);
  --cardText: var(--white);
	--anchorColor: var(--red);
	--buttonColor: var(--white);
	--buttonText: var(--grey);
	--buttonHoverText: var(--darkRed);
	--navColor: var(--darkGrey);
	--linkHover: var(--white);
	--modalText: var(--white);
	--modalColor: var(--darkGrey);
  }
}

html {font-size: 100%;} /*16px*/

body {
  background: var(--background);
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

/*Typography*/

p {margin-bottom: 1rem;}


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2)}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: var(--smallText);}

a:hover {
	--lineColor: var(--linkHover);
	border-bottom: solid 2px var(--lineColor);
}

a {
	text-decoration: none;
	color: var(--anchorColor);
}

button {
  appearance: none;
  color: var(--buttonText);
  background-color: var(--buttonColor);
  border: none;
  padding: 5px 25px;
  box-shadow: var(--level-2);
  transition: 0.3s ease-in-out box-shadow;
	cursor: pointer;
}

button:hover {
  box-shadow:var(--level-4);
	color: var(--buttonHoverText);
}

button[disabled] {
  opacity: 0.4;
  border: none;
  margin: 2px;
}

button.cancel {
  --buttonColor: var(--danger);
  --textColor: var(--white);
}

button.small {
  font-size: var(--smallText);
}

.underline {
	border-bottom: var(--line);
}


@media (min-width: 1025px) {
	.grid {
    --gridCols: 2;
    display: grid;
    grid-template-columns: repeat(var(--gridCols), 1fr);
    gap: 5px;
	}

	.grid img {
		margin-bottom: 1rem;
	}

	.aside-right {
    grid-template-columns: 66% 32%;
    grid-gap: 2%;
	}

	.aside-left {
    grid-template-columns: 32% 66%;
    grid-gap: 2%;
	}


	.cols-3 {
    --gridCols: 3;
	}

	.cols-4 {
    --gridCols: 4;
	}
}

